.git
.gitignore
.env
.env.*
node_modules
vendor
storage/*.key
*.log
.DS_Store
Thumbs.db
docker
*.md
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode